:root {
    --primary-font: 'Outfit', sans-serif;
    --background-color: hsl(212, 45%, 89%);
    --background-border: hsl(0, 0%, 100%);
    --paragraph-color: hsl(220, 15%, 55%);
}

@media (max-width: 375px){
   .qr-body{
    scale: 220%;
    margin: 161px 36px 4px 90px;
   }
}


body {
    font-size: 15px;
    background-color: var(--background-color);
    width: 1440px;
}

.qr-body {
    border-radius: 20px;
    border: transparent;
    background-color: var(--background-border);
    width: 251px;
    position: absolute;
    left: 38%;
    top: 20%;
}

.qr-image {
    width: 1154px;
    padding: 10px 10px 0px 10px;
}

img {
    border-radius: 10px;
}

.first-paragraph {
    font-weight: 700;
    font-size: 120%;
    font-family: var(--primary-font);
    text-align: center;
    padding: 7px 5px 0px 2px;
    margin: -21px 24px 0px 16px;
}

.second-paragraph {
    font-weight: 400;
    font-size: 85%;
    text-align: center;
    color: var(--paragraph-color);
    font-family: var(--primary-font);
    padding: 0px 12px 0px 6px;
    margin: -35px -4px 34px -8px;
}
